/autom4te.cache/

/aclocal.m4
/configure
/config.log
/config.status
/depcomp
/install-sh
/missing
/build-aux/

/patchelf.spec
/src/patchelf

Makefile.in
Makefile

config.h*

.deps
*.o

/tests/*.log
/tests/*.trs
/tests/no-rpath
/tests/no-rpath-*.sh
/tests/*.so
/tests/big-dynstr
/tests/big-dynstr.c
/tests/main
/tests/main-scoped
/tests/scratch/
/tests/simple
