/autom4te.cache/

/aclocal.m4
/configure
/config.log
/config.status
/depcomp
/install-sh
/missing
/build-aux/

/patchelf.spec
/src/patchelf

Makefile.in
Makefile

.deps
*.o

/tests/*.log
/tests/*.trs
/tests/no-rpath
/tests/no-rpath-*.sh
/tests/*.so
/tests/scratch
/tests/main
/tests/simple
/tests/too-many-strtab
/tests/big-dynstr*
/tests/main-scoped
/tests/libbig-dynstr.debug
/tests/contiguous-note-sections
/tests/simple-pie
/tests/simple-execstack

.direnv/
.vscode/
.idea/
result
