Source: patchelf
Priority: extra
Maintainer: Eelco Dolstra <eelco.dolstra@logicblox.com>
Build-Depends:
 debhelper (>= 9~),
 dh-autoreconf,
 libacl1-dev,
 libattr1-dev
Standards-Version: 3.9.4
Section: utils
Homepage: http://nixos.org/patchelf.html
Vcs-Git: https://github.com/NixOS/patchelf.git

Package: patchelf
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Suggests: binutils, execstack
Description: modify properties of ELF binaries
 Simple utility for modifing existing ELF executables and libraries.
 It can change the dynamic loader ("ELF interpreter") of executables,
 change existing DT_SONAME entries of shared libraries and manipulate
 the RPATH and DT_NEEDED entries of executables and libraries.

Package: patchelf-dbg
Section: debug
Architecture: any
Depends:
 ${misc:Depends},
 patchelf (= ${binary:Version})
Description: debug symbols for PatchELF
 Simple utility for modifing existing ELF executables and libraries.
 It can change the dynamic loader ("ELF interpreter") of executables,
 change existing DT_SONAME entries of shared libraries and manipulate
 the RPATH and DT_NEEDED entries of executables and libraries.
 .
 This package contains the debug symbols for PatchELF.
