Source: patchelfmod
Priority: extra
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends:
  debhelper (>= 9~),
  dh-autoreconf,
  autoconf,
  automake
Standards-Version: 3.9.4
Section: utils
Homepage: https://github.com/darealshinji/patchelfmod
Vcs-Git: https://github.com/darealshinji/patchelfmod.git
Vcs-Browser: https://github.com/darealshinji/patchelfmod

Package: patchelfmod
Architecture: any
Depends: ${shlibs:Depends},
         ${misc:Depends}
Suggests: binutils
Description: utility for patching ELF binaries
 Simple utility to modify header data of ELF executables and libraries.
 It can change the dynamic loader ("ELF interpreter") of executables,
 change existing DT_SONAME entries of shared libraries and manipulate
 the RPATH and DT_NEEDED entries of executables and libraries.

Package: patchelfmod-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends},
         patchelfmod (= ${binary:Version})
Description: utility for patching ELF binaries - debug symbols
 Simple utility to modify header data of ELF executables and libraries.
 It can change the dynamic loader ("ELF interpreter") of executables,
 change existing DT_SONAME entries of shared libraries and manipulate
 the RPATH and DT_NEEDED entries of executables and libraries.
 .
 This package contains the debug symbols for PatchELFmod.
