Source: patchelf
Priority: extra
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends:
  debhelper (>= 9~),
  dh-autoreconf,
  autoconf,
  automake
Standards-Version: 3.9.4
Section: utils
Homepage: http://nixos.org/patchelf.html
Vcs-Git: https://github.com/NixOS/patchelf.git
Vcs-Browser: https://github.com/NixOS/patchelf

Package: patchelf
Section: utils
Architecture: any
Depends:
  ${shlibs:Depends},
  ${misc:Depends}
Description: utility for patching ELF binaries
 Simple utility for modifing existing ELF executables and libraries.
