Source: patchelfmod
Priority: extra
Maintainer: Marshall Banana <djcj@gmx.de>
Build-Depends:
  debhelper (>= 9~),
  dh-autoreconf,
  autoconf,
  automake
Standards-Version: 3.9.4
Section: utils
Homepage: https://github.com/darealshinji/patchelfmod
Vcs-Git: https://github.com/darealshinji/patchelfmod.git
Vcs-Browser: https://github.com/darealshinji/patchelfmod

Package: patchelfmod
Section: utils
Architecture: any
Depends:
  ${shlibs:Depends},
  ${misc:Depends}
Description: utility for patching ELF binaries
 Simple utility for modifing existing ELF executables and libraries.
 It can change the dynamic loader ("ELF interpreter") of executables,
 change the RPATH of executables and libraries and their DT_NEEDED entries.
